<a href="https://colab.research.google.com/github/siddhant76/Demo/blob/master/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
#!wget -q https://www.stats.govt.nz/assets/Uploads/Injury-statistics/Injury-statistics-work-related-claims-2018/Download-data/injury-statistics-work-related-claims-2018-csv.csv
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
import numpy as np
from pyspark.sql.functions import col, lit, when, expr
import pyspark.sql.functions as sqlfun
from pyspark.sql.window import Window
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark
emp = spark.read.csv('/content/employees.csv',header=True)

In [16]:
emp = spark.read.csv('/content/employees.csv',header=True,inferSchema=True)
from pyspark.sql.types import datetime

In [22]:
#emp = emp.withColumn("HIRE_DATE_",sqlfun.to_date(emp.HIRE_DATE,'yyyy-mm-dd'))
#emp.dtypes
#emp = emp.withColumn("Hire_new",sqlfun.to_date(emp.HIRE_DATE,'yy-MMM-dd'))
#emp.show()
#emp.dtypes
emp.withColumn("Hire_Plus5",sqlfun.date_add(emp.Hire_new,5))\
.withColumn("Hire_1Month",sqlfun.add_months(emp.Hire_new,1)).show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+----------+----------+-----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|  Hire_new|Hire_Plus5|Hire_1Month|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+----------+----------+-----------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|2021-06-07|2021-06-12| 2021-07-07|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|2013-01-08|2013-01-13| 2013-02-08|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|2017-09-03|2017-09-08| 2017-10-03|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|2017-02-04|2017-02-09| 2017-03-04|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|2017-08-05|2017-08-10| 2017-09-05|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|2007-06-02|2007-06-07| 2007-07-02|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|2007-06-02|2007-06-07| 2007-07-02|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|2007-06-02|2007-06-07| 2007-07-02|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|2007-06-02|2007-06-07| 2007-07-02|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|2017-06-03|2017-06-08| 2017-07-03|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|2021-09-05|2021-09-10| 2021-10-05|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|2013-01-01|2013-01-06| 2013-02-01|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|2003-01-06|2003-01-11| 2003-02-06|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|2021-05-07|2021-05-12| 2021-06-07|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|2025-06-05|2025-06-10| 2025-07-05|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|2005-02-06|2005-02-11| 2005-03-06|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|2007-02-07|2007-02-12| 2007-03-07|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|2017-08-02|2017-08-07| 2017-09-02|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|2016-08-02|2016-08-07| 2016-09-02|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|2028-09-05|2028-09-10| 2028-10-05|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+----------+----------+-----------+
only showing top 20 rows

In [32]:
#emp.show()
#from pyspark.sql.window import Window
"""spec= Window.partitionBy(emp.DEPARTMENT_ID).orderBy(emp.SALARY)
emp.select(emp.DEPARTMENT_ID,emp.SALARY)\
.withColumn("LagFunc",sqlfun.lag(emp.SALARY,1,0).over(spec))\
.withColumn("LeadFunc",sqlfun.lead(emp.SALARY,1,0).over(spec)).show()"""

#unbounded example. rangebetween and rowsbetween
spec_range = Window.partitionBy(emp.DEPARTMENT_ID).orderBy(emp.SALARY)\
.rowsBetween(Window.unboundedPreceding,Window.currentRow)
#.rowsBetween(Window.currentRow,Window.unboundedFollowing)
#.rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

emp.select(emp.DEPARTMENT_ID,emp.SALARY).withColumn("Unbounded",sqlfun.sum(emp.SALARY).over(spec_range)).show()

+-------------+------+---------+
|DEPARTMENT_ID|SALARY|Unbounded|
+-------------+------+---------+
|           20|  6000|     6000|
|           20| 13000|    19000|
|           40|  6500|     6500|
|          100|  6900|     6900|
|          100|  7700|    14600|
|          100|  7800|    22400|
|          100|  8200|    30600|
|          100|  9000|    39600|
|          100| 12008|    51608|
|           10|  4400|     4400|
|           50|  2100|     2100|
|           50|  2200|     4300|
|           50|  2200|     6500|
|           50|  2400|     8900|
|           50|  2400|    11300|
|           50|  2500|    13800|
|           50|  2500|    16300|
|           50|  2600|    18900|
|           50|  2600|    21500|
|           50|  2700|    24200|
+-------------+------+---------+
only showing top 20 rows

In [20]:
emp.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [59]:
#emp.select(emp.JOB_ID).show()#
#emp_gb=emp.groupby(emp.JOB_ID).sum("SALARY").alias("sal").show()
emp_gb=emp.groupby(emp.JOB_ID).agg(    sum("SALARY").alias("sal"),    max("SALARY"),    sqlfun.avg("SALARY")).show()

+----------+-----+-----------+-----------+
|    JOB_ID|  sal|max(SALARY)|avg(SALARY)|
+----------+-----+-----------+-----------+
|FI_ACCOUNT|39600|       9000|     7920.0|
|    MK_MAN|13000|      13000|    13000.0|
|   IT_PROG|28800|       9000|     5760.0|
|    FI_MGR|12008|      12008|    12008.0|
|AC_ACCOUNT| 8300|       8300|     8300.0|
|    HR_REP| 6500|       6500|     6500.0|
|  PU_CLERK|13900|       3100|     2780.0|
|    AC_MGR|12008|      12008|    12008.0|
|    PR_REP|10000|      10000|    10000.0|
|    ST_MAN|36400|       8200|     7280.0|
|    MK_REP| 6000|       6000|     6000.0|
|    PU_MAN|11000|      11000|    11000.0|
|  SH_CLERK| 5200|       2600|     2600.0|
|   AD_PRES|24000|      24000|    24000.0|
|   AD_ASST| 4400|       4400|     4400.0|
|  ST_CLERK|44000|       3600|     2750.0|
|     AD_VP|34000|      17000|    17000.0|
+----------+-----+-----------+-----------+

In [64]:
#sqlfun.stack(2,1,1,2,2)
spark.sql("select stack(2,1,1,2,2)").show()

+----+----+
|col0|col1|
+----+----+
|   1|   1|
|   2|   2|
+----+----+

In [32]:
emp_gb.sum().show()

+----------+
|    JOB_ID|
+----------+
|FI_ACCOUNT|
|    MK_MAN|
|   IT_PROG|
|    FI_MGR|
|AC_ACCOUNT|
|    HR_REP|
|  PU_CLERK|
|    AC_MGR|
|    PR_REP|
|    ST_MAN|
|    MK_REP|
|    PU_MAN|
|  SH_CLERK|
|   AD_PRES|
|   AD_ASST|
|  ST_CLERK|
|     AD_VP|
+----------+

In [5]:
data = [('James',None,'Smith','1991-04-01','M',3000),    #None is null
  ('Michael','Rose',None,'2000-05-19','M',4000),
  ('Robert',None,'Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
#df.printSchema()
df.show(truncate=True)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|      null|   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|    null|2000-05-19|     M|  4000|
|   Robert|      null|Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [ ]:
df1=df.filter(df.middlename.isNotNull())
df1.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|  Michael|      Rose|    null|2000-05-19|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [ ]:
from pyspark.sql.functions import col, lit, when

In [ ]:
#df1 = df.withColumn("salary",col("salary") *-8).select("salary")
df1 = df.withColumn("salary",when(df.salary <= 0, df.salary* -100).otherwise(df.salary)).select("salary")
#df1 = df.select("salary")

In [ ]:
df1.show()
median = np.median(df1.collect())
median

+------+
|salary|
+------+
|  3000|
|  4000|
|  4000|
|  4000|
|   100|
+------+

4000.0

In [ ]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|      null|   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|    null|2000-05-19|     M|  4000|
|   Robert|      null|Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [ ]:
df_select = df.filter(df.middlename.isNotNull()).select('firstname','middlename')

In [ ]:
df_select.show()

+---------+----------+
|firstname|middlename|
+---------+----------+
|  Michael|      Rose|
|    Maria|      Anne|
|      Jen|      Mary|
+---------+----------+

In [22]:
df_cha = spark.read.csv('/content/challenge.csv',header=True)
df_cha.show(3)

+--------------+-------+----------------+----------+
|    ip_address|Country|     Domain Name|Bytes_used|
+--------------+-------+----------------+----------+
| 52.81.192.172|  China|odnoklassniki.ru|       463|
|119.239.207.13|  China|        youtu.be|        51|
| 68.69.217.210|  China|       adobe.com|        10|
+--------------+-------+----------------+----------+
only showing top 3 rows

In [27]:
from pyspark.sql.functions import col, lit, when
#create new column based on Country to get IsMexico
df_cha= df_cha.withColumn('IsMexico', when(df_cha.Country == 'Mexico', 'Yes').otherwise('No'))
df_cha.show()

+---------------+--------------+-----------------+----------+--------+
|     ip_address|       Country|      Domain Name|Bytes_used|IsMexico|
+---------------+--------------+-----------------+----------+--------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|      No|
| 119.239.207.13|         China|         youtu.be|        51|      No|
|  68.69.217.210|         China|        adobe.com|        10|      No|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|      No|
|   211.13.10.68|     Indonesia|          hud.gov|        29|      No|
|   239.80.21.97|      Suriname|       smh.com.au|       218|      No|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|      No|
| 127.242.24.138|         China| surveymonkey.com|       123|      No|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|      No|
|   237.54.11.63|         China|       amazon.com|        83|      No|
| 252.141.157.25|         Japan|      cornell.edu|       374|      No|
|185.220.128.248|       Belgium|       weebly.com|       389|      No|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|      No|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|      No|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|      No|
|   8.96.188.151|     Indonesia|          ibm.com|       517|      No|
|      5.72.7.65|        Mexico|         youtu.be|       877|     Yes|
|227.110.112.144|       Croatia|         ehow.com|       287|      No|
|    81.71.28.97|      Thailand|          last.fm|       588|      No|
|  9.255.129.184|      Thailand|          mtv.com|       114|      No|
+---------------+--------------+-----------------+----------+--------+
only showing top 20 rows

TypeError: Column is not iterable

In [4]:
import pyspark.sql.functions as sqlfunc
#Based on Ismexico, find the counts of Yes and No
df_GB=df_cha.groupBy('IsMexico').agg(sqlfunc.sum(df_cha.Bytes_used).alias('Total'))

NameError: name 'df_cha' is not defined

In [32]:
df_GB.show()

+--------+--------+
|IsMexico|   Total|
+--------+--------+
|      No|508076.0|
|     Yes|  6293.0|
+--------+--------+

In [37]:
# Group by country and find the distinct IP per country and then sort the count based on IP's
df_IP= df_cha.groupBy('Country').agg(sqlfunc.countDistinct(df_cha.ip_address).alias('IPs_Country'))
df_IP=df_IP.sort(df_IP.IPs_Country.desc())
df_IP.show()

+--------------+-----------+
|       Country|IPs_Country|
+--------------+-----------+
|         China|        172|
|     Indonesia|        114|
|   Philippines|         65|
|        Russia|         56|
|        Brazil|         35|
|        Poland|         31|
|        Sweden|         28|
|         Japan|         25|
|Czech Republic|         23|
|      Portugal|         23|
|        France|         21|
|          Peru|         19|
|      Colombia|         17|
| United States|         15|
|     Argentina|         14|
|       Ukraine|         14|
|        Mexico|         13|
|      Thailand|         12|
|       Nigeria|         11|
|        Canada|         11|
+--------------+-----------+
only showing top 20 rows

In [2]:
from pyspark import SparkConf, SparkContext

# Create a Spark configuration
conf = SparkConf().setAppName("ReadTextFile").setMaster("local[*]")

# Initialize SparkContext
#sc = SparkContext(conf=conf)
ord = spark.sparkContext.textFile('/content/ord')

In [5]:
for i in ord.take(5): print(i)
ordites = spark.sparkContext.textFile('/content/orditems')

1,2013-07-25 00:00:00.0,11599,CLOSED
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT
3,2013-07-25 00:00:00.0,12111,COMPLETE
4,2013-07-25 00:00:00.0,8827,CLOSED
5,2013-07-25 00:00:00.0,11318,COMPLETE

In [6]:
for i in ordites.take(5): print(i)

1,1,957,1,299.98,299.98
2,2,1073,1,199.99,199.99
3,2,502,5,250.0,50.0
4,2,403,1,129.99,129.99
5,4,897,2,49.98,24.99

In [19]:
ord_map = ord.map(lambda x : (x.split(',')[0],x.split(',')[2]))

In [20]:
for i in ord_map.take(2): print(i)

('1', '11599')
('2', '256')

In [4]:
# Data and schema
data = [(1, 'sid'), (2, 'Nag')]
col = ['Id', 'Name']

# Create DataFrame
df = spark.createDataFrame(data=data, schema=col)

# Show DataFrame
df.show()

+---+----+
| Id|Name|
+---+----+
|  1| sid|
|  2| Nag|
+---+----+

In [5]:
df.createOrReplaceTempView("emp")

In [6]:
spark.sql('select * from emp').show()

+---+----+
| Id|Name|
+---+----+
|  1| sid|
|  2| Nag|
+---+----+

In [10]:
df.createOrReplaceGlobalTempView('dept')
spark.sql(""" Select * from global_temp.dept""").show()

+---+----+
| Id|Name|
+---+----+
|  1| sid|
|  2| Nag|
+---+----+